DirectoryIndex public/index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Direct request for static files inside /public/ (css, image, fonts, etc.)
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Rewrite all other requests to public/index.php
    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>






