<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send all requests to index.php if not an existing file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
